<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Getting Started With VueJS</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="shopping-list">
    <h1>{{ header.toLocaleUpperCase() }}</h1>
    <input v-model="newItem" type="text" placeholder="Add an Item" @keyup.enter="items.push(newItem)">
    <button class="btn btn-primary" @click="items.push(newItem)">Save</button>
    <ul>
      <li v-for="item in items">{{ item }}</li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    const shoppinglist = new Vue({
      el: '#shopping-list',
      data: {
        header: 'Shopping list app',
        items: [
          '1 PepeJeans T-shirt',
          '2 pair of shoes',
          '3 Juice packs'
        ],
        newItem: ''
      }
    })
  </script>
</body>

</html>