:root {
  --primary-clr: #3D4852;
  --bounce-back-transition: cubic-bezier(0.42, 0, 0.66, 1.25);
}

body {
  background: #EFF8FF;
  height: 100vh;
  width: 100vw;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#shopping-list {
  background: #FFF;
  padding: 2rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  width: 95%;
  max-width: 900px;
}

h1 {
  color: var(--primary-clr);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #6CB2EB;
  font-size: 1.25rem;
  transition: all .1s ease-in;
  margin-top: .5rem;
  display: block;
}

a:hover {
  color: #3490DC;
}

li,
p {
  display: flex;
  align-items: center;
  line-height: 1.75;
  letter-spacing: .5px;
  color: var(--primary-clr);
  font-size: 1.25rem;
  cursor: pointer;
  transition: all .1s ease-in;
}

li:hover {
  color: #22292F;
}

li input {
  margin: 0 .5rem 0;
}

li.list-item {
  position: relative;
  margin-left: 1.5rem;
}

li.list-item:before {
  content: '>';
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
}

#shopping-list>input,
#shopping-list>select {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  border: 1px solid #F1F5F8;
  color: #606F7B;
  padding: .5rem .75rem;
  box-sizing: border-box;
  font-size: 1rem;
  letter-spacing: .5px;
  margin: .5rem 0
}

.add-item-form,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-item-form input {
  width: 70%;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  border: 1px solid #F1F5F8;
  color: #606F7B;
  padding: .5rem .75rem;
  box-sizing: border-box;
  font-size: 1rem;
  letter-spacing: .5px;
  margin: .5rem .75rem .5rem 0;
}

.df {
  display: flex;
  align-items: baseline;
}

.link {
  text-decoration: none;
}

.link-vue {
  margin-left: .2em;
}

.list-content {
  margin-left: 1rem;
  width: 90%;
  max-width: 260px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.btn-group {
  margin-left: 1rem;
}

.btn {
  border: none;
  border-radius: 3px;
  margin: auto 0;
  padding: .5rem .75rem;
  flex-shrink: 0;
  cursor: pointer;
  font-size: .9rem;
  letter-spacing: .5px;
  transition: all .1s ease-in;
}

.btn[disabled] {
  background: #8795A1;
}

.btn[disabled]:hover {
  background: #606F7B;
}

.btn-transparent {
  background: transparent;
}

.btn-transparent:hover {
  background: #aeb4b9;
}

.btn-primary {
  background: #6CB2EB;
  color: #fff;
}

.btn-primary:hover {
  background: #3490DC;
}

.btn-cancel {
  background: #EF5753;
  color: #fff;
}

.btn-cancel:hover {
  background: #E3342F;
  color: #fff;
}

.strikeout {
  text-decoration: line-through;
  color: #B8C2CC;
}

.strikeout:hover {
  color: #8795A1;
}

.priority {
  color: #DE751F;
}

/* Upscale */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.modal-close {
  pointer-events: none;
}

.modal-close .modal__overlay {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.modal-close .modal__body {
  transform: translateY(100vh);
  transition: opacity 250ms ease-in,
    transform 450ms var(--bounce-back-transition) 150ms;
}

.modal-open .modal__overlay {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.modal-open .modal__body {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 250ms ease-in,
    transform 450ms var(--bounce-back-transition) 150ms;
}

.modal__overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__body {
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: .5em;
  box-shadow: 0 0 .2em rgba(0, 0, 0, 0.35);
}

.modal__header {
  position: relative;
  width: 100%;
  font-size: 2.35rem;
  line-height: 1.1;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: var(--primary-clr);
  margin-bottom: 1rem;
}

.modal__header-underline {
  position: absolute;
  left: -2rem;
  bottom: -.5rem;
  width: calc(100% + 4rem);
  border-bottom: 2px solid var(--primary-clr);
}

.modal__content {
  color: var(--primary-clr);
  text-align: justify;
  margin: 1em 0;
}

.modal__actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ml {
  margin-left: 1em
}